/metodosBusca/metodosBusca/nbproject/private/
/metodosBusca/metodosBusca/build/
*.class
*.pyc
venv
.exe
.obj
.DS_Store
.vs_code
.vscode
.vs
/1 - metodosBusca/metodosBusca/nbproject/private/
/3 - AG/java/AG2020/nbproject/private/
/3 - AG/java/AG2020/build/
/3 - AG/java/AG2020/dist/
/1 - metodosBusca/metodosBusca/build/
/.metadata/
._*
/1.2 - tratandoMapas/MapaRomenia/nbproject/private/
